# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
/Assets/StreamingAssets*
/Assets/FacebookSDK*
/Assets/UnityAds*
/Assets/Plugins*
/Assets/PlayServicesResolver*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
/Assets/Plugins/UDP/Android/*.aar
/Assets/Plugins/iOS/UnityAds.framework/UnityAds
/Assets/Plugins/UDP/Editor/Analytics/Common.cs
/Assets/Plugins/UDP/Editor/Analytics/EditorAnalytcisApi.cs
/Assets/Plugins/UDP/Editor/Analytics/ProjectBuildEvent.cs
/Assets/Plugins/UDP/Editor/Analytics/ProjectOpenEvent.cs
/Assets/Plugins/UDP/Editor/Analytics/SdkImportEvent.cs
/Assets/Plugins/UDP/Editor/Analytics/WebRequestQueue.cs
/Assets/Plugins/UDP/Editor/AppStoreModel.cs
/Assets/Plugins/UDP/Editor/AppStoreOnboardApi.cs
/Assets/Plugins/UDP/Editor/AppStoreSettingsEditor.cs
/Assets/Plugins/UDP/Editor/BuildConfig.cs
/Assets/Plugins/UDP/Editor/Utils.cs
/Assets/Plugins/UDP/UDP.dll
/Assets/UnityAds/UnityEngine.Advertisements.Android.dll
/Assets/UnityAds/UnityEngine.Advertisements.Editor.dll
/Assets/UnityAds/UnityEngine.Advertisements.iOS.dll
/Assets/UnityAds/UnityEngine.Advertisements.Unsupported.dll
/Assets/UnityAds/UnityEngine.Monetization.Android.dll
/Assets/UnityAds/UnityEngine.Monetization.Editor.dll
/Assets/UnityAds/UnityEngine.Monetization.iOS.dll
/Assets/UnityAds/UnityEngine.Monetization.Unsupported.dll
/Assets/Plugins/iOS/UnityAds.framework/Headers/NSString+UnityAdsError.h
/Assets/Plugins/iOS/UnityAds.framework/Headers/UnityAds.h
/Assets/Plugins/iOS/UnityAds.framework/Headers/UnityAdsDelegate.h
/Assets/Plugins/iOS/UnityAds.framework/Headers/UnityAdsError.h
/Assets/Plugins/iOS/UnityAds.framework/Headers/UnityAdsExtended.h
/Assets/Plugins/iOS/UnityAds.framework/Headers/UnityAdsExtendedDelegate.h
/Assets/Plugins/iOS/UnityAds.framework/Headers/UnityAdsPlacementState.h
/Assets/Plugins/iOS/UnityAds.framework/Headers/UnityAnalytics.h
/Assets/Plugins/iOS/UnityAds.framework/Headers/UnityServices.h
/Assets/Plugins/UDP/Android/udpsandbox.aar
